<%# Copyright 2009-2010 Justin Perkins %>
<p class="login">
  <%= form.label :login %>
  <%= form.text_field :login %>
  <%= errors_for(:login, form.object) %>
</p>
<p>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= errors_for(:password, form.object, :default => form.object.new_record? ? nil : "leave blank unless you want to update your password") %>
</p>
<p>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= errors_for(:email, form.object, :default => "optional, your primary account where your daily digest will be mailed to") %>
</p>