<%# Copyright 2009-2010 Justin Perkins %>
<h1>Your Account</h1>
<fieldset>
  <legend>Personal <span>(<%= link_to 'edit', edit_user_path %>)</span></legend>
  <%= display_attribute(@user, :login) %>
  <%= display_attribute(@user, :email, :value => (@user.email.blank? ? 'not specified' : @user.email))%>
</fieldset>
<fieldset>
  <legend>Linked Email Account <span>(<%= link_to_edit_or_new_linked_account(@user) %>)</span></legend>
  <% if @user.linked_account %>
    <% cache("user/show/linked_account/#{ @user.linked_account.updated_at }") do %>
      <%= display_attribute(@user.linked_account, :email) %>
      <%= display_attribute(@user.linked_account, :label => 'Mailboxes', :value => @user.linked_account.inboxes.count, :extra => "(#{ @user.linked_account.inboxes.collect(&:label).join(', ') })") %>
      <%= display_attribute(@user.linked_account, :label => 'Emails', :value => @user.linked_account.emails.count) %>
      <%= display_attribute(@user.linked_account, :last_checked, :value => format_datetime(@user.linked_account.last_checked)) %>
      <%= display_attribute(@user.linked_account, :label => 'State', :value => (@user.linked_account.inactive ? "deactivated on #{ format_datetime(@user.linked_account.inactive) }" : 'active')) %>
      <%= display_attribute(@user.linked_account, :label => 'Instant archive', :value => (@user.linked_account.immediate_archive? ? "active" : 'inactive')) %>
      <%= display_attribute(@user.linked_account, :label => 'Daily DIgest', :value => (@user.linked_account.digest? ? "active" : 'inactive')) %>
    <% end %>
  <% else %>
    <p><em><%= link_to 'You need to setup your linked account', new_linked_account_path %></em></p>
  <% end %>
</fieldset>
