<%# Copyright 2009-2010 Justin Perkins %>
<p>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <em>optional, your primary account where emails will be forwarded to, if you have rules to do so</em>
</p>
<p>
  <%= form.label :password, form.object.new_record? ? nil : "Change password" %>
  <%= form.password_field :password %>
</p>
<% unless form.object.new_record? %>
  <p>
    <%= form.label :immediate_read %>
    <%= form.check_box :immediate_read %>
  </p>
  <p>
    <%= form.label :forward_all %>
    <%= form.check_box :forward_all %>
  </p>
<% end %>