<!DOCTYPE html><%# Copyright 2009-2010 Justin Perkins %>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" value="Simple Inbox is an email manager" />
	<title><%= @page_title || 'Simple Inbox' %></title>	
	<%= stylesheet_link_tag 'application' %>
	<%= auto_discovery_link_tag(:atom, linked_accounts_path(:format => :atom)) if current_user %>
</head>

<body class="control-<%= @controller.controller_name %>">
  <div id="container">
    <div id="header">
      <h1><%= link_to('Simple Inbox', root_path) %></h1>
      <h2><%= h(rotating_tagline) %></h2>
    </div>
    <div id="user-nav">
      <ul>
        <% if current_user %>
          <li><%= link_to 'your page', overview_user_path(current_user) %></li>
          <li><%= link_to 'account details', user_path(current_user) %></li>
          <li><%= link_to 'logout', user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'login', new_user_session_path %></li>
          <!-- <li><%= link_to 'register', new_user_path %></li> -->
        <% end %>
        <li class="guide"><%= link_to 'guide', :controller => 'intro', :action => 'guide' %></li>
      </ul>
    </div>
    <div id="content">
      <%= prebody %>
      <%= yield %>
    </div>
    <div id="footer">
      <p><%= link_to('Need help or having problems?', 'http://github.com/justinperkins/simple-inbox/issues') %></p>
      <p>This Simple Inbox is brought to you by <%= link_to('The Number 6', 'http://www.thenumber6.com') %></p>
    </div>
  </div>
</body>
</html>